@model BasicTouristAgency.Models.Reservation

@{
    ViewData["Title"] = "Reservation confiramation";
}

<h2>Reservation confirmation</h2>

<p>Dear @User.Identity.Name, your reservation has been succesfully created</p>

@await Html.PartialAsync("_ReservationAdminCard",Model)



<a href="@Url.Action("Index", "Vacation")" class="btn btn-primary">Back to offers</a>
<a href="@Url.Action("MyReservation", "Reservation", new {id = @Model.UserId})" class="btn btn-success">View my reservation</a> 


<style>
    body {
        background-color: #F4F1E1;
    }
</style>