@model BasicTouristAgency.Models.Reservation

@{
    ViewData["Title"] = "Reservation confiramation";
}

<h2>Reservation confirmation</h2>

<p>Dear @User.Identity.Name, your reservation has been succesfully created</p>

@await Html.PartialAsync("_ReservationAdminCard",Model)


<div class="row mt-5 mb-5">
    <div class="col-md-6">
        <a href="@Url.Action("MyReservations", "Reservation", new {id = @Model.UserId})" class="btn btn-primary">View my reservation</a>
    </div>
    <div class="col-md-6">        
        <a href="@Url.Action("Index", "Vacation")" class="btn btn-secondary">Back to offers</a>
    </div>
</div>





<style>
    body {
        background-color: #F4F1E1;
    }
</style>