@model BasicTouristAgency.Models.Reservation

@{
    ViewData["Title"] = "Edit reservation";
}

<h2>Edit reservation status</h2>

<form asp-action="Edit" method="post" asp-controller="Reservation">
    <input type="hidden" asp-for="ReservationId" />

    <div class="row m-5">
        <div class="col">
            <div class="form-group">
                <label asp-for="Status" class="form-label"></label>
                <select asp-for="Status" class="form-control">
                    <option value="Created">Created</option>
                    <option value="Confirmed">Confirmed</option>
                    <option value="Canceled">Canceled</option>
                    <option value="OnHold">On Hold</option>
                    <option value="InProgress">In progress</option>
                    <option value="Completed">Completed</option>    
                </select>
             </div>
        </div>
     </div>

     <div class="row m-5">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
        <div class="col-sm-6">
            <a href="@Url.Action("Index","Reservation")" class="btn btn-secondary btn-block">Cancel</a>
        </div>
    </div>
    

    
    
</form>


<style>
    body {
        background-color: #F4F1E1;
    }
</style>