@model string

<div class="form-group mb-3">
    <label for="vacType" class="form-label">Vacation type</label>
    <select id="vacType" name="vacType" class="form-control" required>
     @*  <option value="" @(string.IsNullOrEmpty(Model) ? "selected" :"")> -- select Vacation type --</option>*@
        @foreach(var type in (IEnumerable<dynamic>)ViewBag.VacationTypes)
            {
          @* <option value="@type.Value" @(type.Value == Model ? "selected": "")>@type.Text</option>*@
        }
    </select>
</div>
