@model BasicTouristAgency.Models.User

<head>
    @{
        ViewData["Title"] = $"Delete a {Model.FirstName} {Model.LastName}";
    }
    <link rel="stylesheet" href="~/css/VacationCard.css" />
</head>




<div class="container mt-5">
    <div class="card p-4">
        <h2>Delete User</h2>
        <p>Are you sure you want to delete the following user?</p>

        @await Html.PartialAsync("_UserAdminCard", Model, new ViewDataDictionary(ViewData) {  { "ShowEditLink", false }, { "ShowDeleteLink", false } })

        <form asp-action="ConfirmDelete" method="post" asp-controller="User">
            <input type="hidden" name="id" value="@Model.Id" />
            <div class="row">
                <div class="col-sm-5">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
                <div class="col-sm-2">
                </div>
                <div class="col-sm-5">
                    <a href="@Url.Action("Index", "User")" class="btn btn-secondary">Cancel</a>
                </div>

            </div>

        </form>
    </div>
</div>
